.cc-window{
    left: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;

    padding: 0 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

@media screen and (min-width: 768px) {
    .cc-window.cc-banner{

    }
}
.cc-compliance,
.cc-message {
    margin: 1rem 0.5rem;
}

a.cc-btn {
    cursor: pointer;
    text-decoration: none;
}
a.cc-btn:not(:last-child) {
    margin-right: 1rem;
}

a.cc-btn.cc-allow {
    color: #fff !important;
    background: #000 !important;
    box-shadow: inset 0 0 0 3px #fff;
}

a.cc-btn.cc-allow:hover {
    color: #000 !important;
    background: #fff !important;
    box-shadow: none;
}
a.cc-btn.cc-deny {
    display: inline-block;
    padding: 15px 0;
}
.cc-message {
    flex-grow: 9999;
}
.cc-compliance {
    flex-grow: 1;
    text-align: center;
}
a.cc-btn.cc-deny:hover {
background:transparent;text-decoration: underline;
}

.invalid-dob {
    color: #ff0000;
    margin-bottom: 1.5rem;
}

#dateOfBirth{margin-bottom: 1rem}
